<!DOCTYPE html>
<html lang="en">
    <head>
        <title>5 Balau - 2014</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A site for 5 Balau">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/static/css/people-style.css" media="screen"/>
        <style>
body {
    font-family: 'Roboto', sans-serif;
}
.navbar-static-bottom {
    padding-bottom: 20px;
    margin-top: 50px;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    background-color: transparent;
}
.signature {
    color: grey;
}
</style>
    </head>

    <body>
        <!-- Top navbar -->
        <nav class="navbar navbar-transparent navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapser">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collects links to be in the collapsed navbar -->
                    <div class="collapse navbar-collapse" id="navbar-collapser">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-text"><a href="/" class="nav-link">Home</a></li>
                            <li class="navbar-text"><a href="/people" class="nav-link">People</a></li>
                            <li class="navbar-text"><a href="/about" class="nav-link">About</a></li>
                        </ul>
                    </div> <!-- navbar-collapse -->
                </div>
            </div> <!--container-fluid -->
        </nav>
        
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <h1>From Balau, with love.</h1>
                <br/>
                <p>This is a paragraph about how awesome we are.</p>
            </div>
        </div>
        
        <nav class="nav navbar-transparent navbar-static-bottom" role="navigation">
            <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="signature navbar-text">Crafted with <span class="glyphicon glyphicon-heart"></span> by Maverick 2014</li>
                        <li class="navbar-text"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></li>
                        <li class="navbar-text"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>

</html>
